@charset "UTF-8";

/* box sizing */
* {
    box-sizing: border-box; 
}

/* body element */
html, body {
    position: absolute;
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
    height: 100%; 
    width: 100%; 
    font-family: 'Arial', sans-serif; 
    font-size: 1.01em; 
} 

/* h1 to h6 elements */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Arial', sans-serif; 
    letter-spacing: 5px;
}

/* h1 element */
h1 {
    font-size: 1.75em; 
}

/* h2 element */
h2 {
    font-size: 1.68em; 
}

/* paragraph element */
p {
    text-align: justify; 
}

/****** beginning of nav bar and logo section *****/
/****** created by Aida Tuhcic April 9th through 10th *****/
/* logo */
.logo {
    position: absolute; 
    margin-left: 0px; 
    margin-top: -63px; 
}

/* logo image */ 
.logo img {
    height: 150px;  
    margin-top: 26px;
    margin-left: 5px; 
}

/* nav bar */
.topnav {
    background-color: #ffffff;
    border-bottom: 10px solid #1B5886; 
    overflow: hidden;
    padding: 0px; 
}

/* nav bar a */
.topnav a {
    float: right; 
    padding: 25px 16px;
    color: #000000;
    text-align: center;
    text-decoration: none;
    font-size: 1.1em;
}

/* nav bar link hovers */
.topnav a:hover {
    background-color: #1B5886;
    color: #ffffff; 
    height: 74px;
}

/* home button */
.topnav a.active {
    background-color: #eb9e29;
    color: white;
    height: 74px; 
}
  
/* nav bar icon for smaller screens */
.topnav .icon {
    color: #1B5886;
    float: right; 
    display: none;
}

/* nav bar icon hover for smaller screens */
.topnav .icon a:hover {
    color: #ffffff; 
}
  
/* some sources for the following code has been dervived from https://www.w3schools.com/howto/howto_js_topnav_responsive.asp
/* media query for smaller devices (resizes nav bar) */
@media screen and (max-width: 760px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
 }

/* some sources for the following code has been dervived from https://www.w3schools.com/howto/howto_js_topnav_responsive.asp
/* media query for smaller devices (resizes nav bar) */
@media screen and (max-width: 760px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      float: left;
      right: 0;
      top: 0;
}

/* some sources for the following code has been dervived from https://www.w3schools.com/howto/howto_js_topnav_responsive.asp
/* media query for smaller devices (resizes nav bar) */
.topnav.responsive a {
    float: left;
    display: block;
    text-align: center;
    }
}  
/****** end of nav bar and logo section *****/

/****** beginning of the header image *****/
/****** created by Aida Tuhcic April 9th through 10th *****/
/* header image */
/* the source of the image is from https://www.pexels.com/photo/scenic-view-of-mountain-during-dawn-2777934/ - "Scenic View Of Mountain During Dawn" - free for commerical use. */
/* the photographer and uploader of the image from PixaBay used is: Andre Furtado "@andre-furtado-43594" */
.headerimg {
    background: url("../images/torontobanner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    position: relative; 
    display: block;
    padding-top: 20%;
    padding-bottom: 10%;
}
/****** end of the header image *****/

/* sections */
section {
    padding: 10px; 
    width: 80%;
    margin: auto;
    text-align: center;
    line-height: 2.2rem;
    background-color: #ffffff;
}

/* problem background */
.problem-background {
    float: right; 
    padding: 8px; 
}

/* problem background h3*/
.problem-background h3 {
    padding: 8px; 
}

/* problem statement */
.problem-statement {
    padding: 8px;
}

/****** beginning of the resources section *****/
/****** created by Aida Tuhcic April 13th *****/
/* resources summary */
.resources-summary {
    padding: 8px;
}

/* resources */
.resources {
    display: flex; 
    justify-content: center;
    margin: auto;
    width: 90%; 
    padding: 8px; 
    line-height: 2.2rem;
}

/* resources link */
.resources-link {
    flex: 50%; 
    margin: 30px; 
    margin-left: 50px;
}

/* resources images */
.resources-link img {
    width: 100%; 
    margin-top: -10px; 
    margin-bottom: 5px;
    border-radius: 50%;
}

/* resources links active */
.resources-link a {
    color: #000000;
    text-decoration: none;
    line-height: 1.8rem;
}

/* resources paragraph */
.resources-link p {
    border-bottom: 6px solid #eb9e29;
    line-height: 2rem; 
    text-align: center;
}

/* media query for smaller devices (resizes the resources section) */
@media screen and (max-width: 1060px) {
    .resources {
        width: 70%;
        display: block; 
    }
 }
/****** end of the resources section *****/

/* timeline process */
.timeline-summary {
    padding: 8px; 
}

/****** beginning of the timeline nav bar *****/
/****** created by Aida Tuhcic April 16th *****/
/* timeline navigation */
.timelinenav {
    padding-bottom: 20px; 
}

/* timeline navigation links */
.timelinenav a {
    background-color: #226da7; 
    color: #ffffff; 
    padding: 5px 5px; 
    text-align: center; 
    text-decoration: none;
    border-bottom: 10px solid #ffffff;
    width: 25%; 
    display: inline-block;
}

/* media query for smaller devices (resizes the timeline navigation) */
@media screen and (max-width: 1060px) {
    .timelinenav a {
        float: none;
        outline: 2px solid #ffffff;
        text-align: center;
        display: block;
        width: 100%;
    }
 }
 /****** end of the timeline nav bar *****/

/* week 9 section */ 
.week9 {
    padding: 8px; 
}

/* week 10 section */ 
.week10 {
    padding: 8px; 
}

/* week 11 section */ 
.week11 {
    padding: 8px; 
}

/* week 12 section */ 
.week12 {
    padding: 8px; 
}

/* week 13 section */ 
.week13 {
    padding: 8px; 
}

/* week 14 section */ 
.week14 {
    padding: 8px; 
}

/* process summary */
.process-summary {
    padding: 8px; 
}

/****** beginning of the process nav bar *****/
/****** created by Aida Tuhcic April 13th *****/
/* process navigation */
.processnav {
    padding-bottom: 20px; 
}

/* process navigation links */
.processnav a {
    background-color: #226da7; 
    color: #ffffff; 
    padding: 5px 5px; 
    text-align: center; 
    text-decoration: none;
    width: 25%; 
    display: inline-block;
}

/* media query for smaller devices (resizes the process navigation) */
@media screen and (max-width: 1060px) {
    .processnav a {
        float: none;
        outline: 2px solid #ffffff;
        text-align: center;
        display: block;
        width: 100%;
    }
 }
 /****** end of the process nav bar *****/

/* mapbox maps process section */
.mapbox-maps {
    padding: 8px; 
}

/* experience builder process section */
.experience-builder {
    padding: 8px; 
}

/* comparisons process section */
.comparisons {
    padding: 8px; 
}

/* solutions summary */
.solutions-summary {
    padding: 8px; 
}

/****** beginning of the solutions nav bar *****/
/****** created by Aida Tuhcic April 16th *****/
/* solution navigation */
.solutionsnav {
    padding-bottom: 25px; 
}

/* solutions navigation links */
.solutionsnav a {
    background-color: #226da7; 
    color: #ffffff; 
    padding: 5px 5px; 
    text-align: center; 
    text-decoration: none;
    border-bottom: 10px solid #ffffff;
    width: 25%; 
    display: inline-block;
}

/* media query for smaller devices (resizes the solution navigation) */
@media screen and (max-width: 1060px) {
    .solutionsnav a {
        float: none;
        outline: 2px solid #ffffff;
        text-align: center;
        display: block;
        width: 100%;
    }
 }
 /****** end of the solutions nav bar *****/

 /* mapbox solution section */
 .mapbox-solution {
     padding: 8px; 
 }

 /* experience builder solution section */
 .experiencebuilder-solution {
     padding: 8px; 
 }

 /* future possibilities solution section */
 .future {
     padding: 8px; 
 }

/****** beginning of the teams.html section *****/
/****** created by Aida Tuhcic April 11th through 12th *****/
/* team summary */
.team-summary {
    padding: 8px; 
}

/* row */ 
.row { 
    display: flex; 
    justify-content: center;
    margin: auto;
    width: 75%; 
    padding: 8px; 
    line-height: 2.2rem;
}

/* members */
.members {
    flex: 50%; 
    margin: 30px; 
    margin-left: 50px;
}

/* members h3 */
.members h3 {
    font-size: 1.3rem;
    line-height: 0.5px; 
    letter-spacing: 0.2rem;
}

.memberimg {
    background-color: #f5f5f5;
    border-radius: 5px 5px 0 0;
}

/* members img */
.memberimg img {
    width: 45%; 
    height: 45%;
    margin-top: 20px; 
    margin-bottom: 10px;
    border-radius: 50%;
}

/*member name */
.membername {
    background-color: #ebebeb;
    padding-top: 1px; 
    border-radius: 0 0 5px 5px;
}

.membername p {
    text-align: center;
}

/* media query for smaller devices (resizes the row) */
@media screen and (max-width: 760px) {
    .row {
        width: 100%;
        display: block;  
    }
}
/****** end of the teams.html section *****/

/****** beginning of the footer section *****/
/****** created by Aida Tuhcic April 9th through 10th *****/
/* footer */
footer {
    position: relative;
    padding: 32px; 
    left: 0;
    bottom: 0;
    left: 0; 
    right: 0;
    width: 100%;
    background-color: #1B5886; 
}

/* footer */
.footer {
    position: relative;
}

/* footer paragraph */ 
.footer p { 
     color: #ffffff; 
     text-align: center; 
     font-size: 1.1em;
}
/****** end of the footer section *****/